<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Blogs</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon"> 
    <link rel="icon" href="/static/hack.svg" type="image/svg+xml"> 

    <style>
        .expandable-textarea {
            transition: height 0.3s ease;
            overflow: hidden;
            resize: none;
        }
    </style>
    
</head>
<body>
    <div id="app"></div> <!-- Navbar and blog content will be injected here -->

    <!-- Ensure app.js is properly loaded -->
    <script src="{{ url_for('static', filename='blog.js') }}"></script>
</body>
</html>
