<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7d3d56ab64f154a00151ef2d4b6e6852 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_7d3d56ab64f154a00151ef2d4b6e6852" ></div>
        
</body>
<script>
    
    
            var map_7d3d56ab64f154a00151ef2d4b6e6852 = L.map(
                "map_7d3d56ab64f154a00151ef2d4b6e6852",
                {
                    center: [51.0447, -114.0719],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_cf129aed3613c516463e4d179c017656 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_cf129aed3613c516463e4d179c017656.addTo(map_7d3d56ab64f154a00151ef2d4b6e6852);
        
    
            var tile_layer_ff51eb55903acbc55e2c069a6cc2f779 = L.tileLayer(
                "https://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri", "detectRetina": false, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_ff51eb55903acbc55e2c069a6cc2f779.addTo(map_7d3d56ab64f154a00151ef2d4b6e6852);
        
    
            var tile_layer_6b0a447d5624056e7d7936b8d770bf58 = L.tileLayer(
                "https://services.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}",
                {"attribution": "Esri", "detectRetina": false, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_6b0a447d5624056e7d7936b8d770bf58.addTo(map_7d3d56ab64f154a00151ef2d4b6e6852);
        
    
            var marker_19d5352e4b426c9381d5ee0a4d0c5501 = L.marker(
                [51.0447, -114.0719],
                {}
            ).addTo(map_7d3d56ab64f154a00151ef2d4b6e6852);
        
    
        var popup_ef9455e28eaa12c32debb010d5ac83db = L.popup({"maxWidth": "100%"});

        
            
                var html_c1da7b31d2f8a56bd4ddf490ed66e929 = $(`<div id="html_c1da7b31d2f8a56bd4ddf490ed66e929" style="width: 100.0%; height: 100.0%;">Calgary</div>`)[0];
                popup_ef9455e28eaa12c32debb010d5ac83db.setContent(html_c1da7b31d2f8a56bd4ddf490ed66e929);
            
        

        marker_19d5352e4b426c9381d5ee0a4d0c5501.bindPopup(popup_ef9455e28eaa12c32debb010d5ac83db)
        ;

        
    
    
            var layer_control_3b6fbaec8f138f244168f0c1d5fb6b2b_layers = {
                base_layers : {
                    "openstreetmap" : tile_layer_cf129aed3613c516463e4d179c017656,
                },
                overlays :  {
                    "ArcGIS Satellite Imagery" : tile_layer_ff51eb55903acbc55e2c069a6cc2f779,
                    "ArcGIS Topographic" : tile_layer_6b0a447d5624056e7d7936b8d770bf58,
                },
            };
            let layer_control_3b6fbaec8f138f244168f0c1d5fb6b2b = L.control.layers(
                layer_control_3b6fbaec8f138f244168f0c1d5fb6b2b_layers.base_layers,
                layer_control_3b6fbaec8f138f244168f0c1d5fb6b2b_layers.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_7d3d56ab64f154a00151ef2d4b6e6852);

        
</script>
</html>